<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title | smartify }}</title>
		<link rel="icon" href="{{ site.icon }}">
		<link rel="stylesheet" href="/omni.css">
		<link rel="stylesheet" href="/fontello/css/fontello.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		{% if page.has_highlighting %}<link rel="stylesheet" href="/syntax-highlighting.css">{% endif %}
		{% if page.has_math %}<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>{% endif %}
		{% unless page.no_analytics %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MPMZDP3LR7"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-MPMZDP3LR7');
		</script>
		{% endunless %}
	</head>
	<body>
		<div class="header">
			<a class="home-link icon-home" href="/" title="Home"></a>
		</div>
		{{ content }}
		<div class="footer"><span>Please do not write below this line.</span></div>
	</body>
</html>
